# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env
.npm
*.log

# Backend uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
